/*
 * Copyright 2017 NXP
 * Copyright 2018-2019 Variscite Ltd.
 * Copyright 2019 KOPERA
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "fsl-imx8mq.dtsi"

/ {
	compatible = "kopera,imx8mq-kopera-polar0", "fsl,imx8mq";

	chosen {
		bootargs = "console=ttymxc0,115200 earlycon=ec_imx6q,0x30860000,115200";
		stdout-path = &uart1;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_tas5825m_dvdd: tas5825m_dvdd {
			compatible = "regulator-fixed";
			regulator-name = "TAS5825M_DVDD";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 3 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_tas5825m_pvdd: tas5825m_pvdd {
			compatible = "regulator-fixed";
			regulator-name = "TAS5825M_PVDD";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
		};

		backlight_reg: backlight_reg {
			compatible = "regulator-fixed";
			regulator-name = "BACKLIGHT_REG";
			regulator-min-microvolt = <15000000>;
			regulator-max-microvolt = <15000000>;
			regulator-always-on;
		};
	};

	sound-tas5825m {
		compatible = "simple-audio-card";
		simple-audio-card,name = "tas5825m";
		simple-audio-card,aux-devs = <&pcm1789>;
		status = "okay";

		simple-audio-card,dai-link@0 {
			format = "i2s";
			bitclock-master = <&dailink0_master>;
			frame-master = <&dailink0_master>;

			dailink0_master: cpu {
				sound-dai = <&sai1>;
			};

			codec {
				sound-dai = <&tas5825m>;
			};
		};
	};

	sound-si468x {
		compatible = "simple-audio-card";
		simple-audio-card,name = "si468x";
		status = "okay";

		simple-audio-card,dai-link@0 {
			format = "i2s";
			bitclock-master = <&dailink1_master>;
			frame-master = <&dailink1_master>;

			dailink1_master: cpu {
				sound-dai = <&sai2>;
			};

			codec {
				sound-dai = <&si468x_codec>;
			};
		};
	};

	si468x_codec: si468x-codec {
		#sound-dai-cells = <0>;

		compatible = "silabs,si468x-codec";
		status = "okay";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 1000000 0>;
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
		power-supply = <&backlight_reg>;
		default-brightness-level = <80>;
		status = "disabled";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		play_pause {
			label = "Play Pause";
			gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_PLAYPAUSE>;
		};

		previous_song {
			label = "Previous Song";
			gpios = <&gpio3 22 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_PREVIOUSSONG>;
		};

		next_song {
			label = "Next Song";
			gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_NEXTSONG>;
		};

		volume_down {
			label = "Volume Down";
			gpios = <&gpio3 23 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volume_up {
			label = "Volume Up";
			gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		emmc {
			label = "eMMC";
			gpios = <&gpio4 17 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};
	};
};

&clk {
	assigned-clocks = <&clk IMX8MQ_AUDIO_PLL1>;
	assigned-clock-rates = <786432000>;
};


&iomuxc {
	pinctrl-names = "default";

	imx8mq-kopera-polar0 {
		/* i2c */
		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_I2C1_SCL_I2C1_SCL              0x4000007f
				MX8MQ_IOMUXC_I2C1_SDA_I2C1_SDA              0x4000007f
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX8MQ_IOMUXC_I2C2_SCL_I2C2_SCL              0x4000007f
				MX8MQ_IOMUXC_I2C2_SDA_I2C2_SDA              0x4000007f
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX8MQ_IOMUXC_I2C3_SCL_I2C3_SCL              0x4000007f
				MX8MQ_IOMUXC_I2C3_SDA_I2C3_SDA              0x4000007f
			>;
		};

		pinctrl_i2c4: i2c4grp {
			fsl,pins = <
				MX8MQ_IOMUXC_I2C4_SCL_I2C4_SCL              0x4000007f
				MX8MQ_IOMUXC_I2C4_SDA_I2C4_SDA              0x4000007f
			>;
		};

		/* UART */
		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_UART1_RXD_UART1_DCE_RX         0x49
				MX8MQ_IOMUXC_UART1_TXD_UART1_DCE_TX         0x49
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX8MQ_IOMUXC_UART2_RXD_UART2_DCE_RX         0x49
				MX8MQ_IOMUXC_UART2_TXD_UART2_DCE_TX         0x49
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX8MQ_IOMUXC_UART3_RXD_UART3_DCE_RX         0x49
				MX8MQ_IOMUXC_UART3_TXD_UART3_DCE_TX         0x49
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX8MQ_IOMUXC_ECSPI2_SCLK_UART4_DCE_RX       0xc1
				MX8MQ_IOMUXC_ECSPI2_MOSI_UART4_DCE_TX       0xc1
				MX8MQ_IOMUXC_ECSPI2_MISO_UART4_DCE_CTS_B    0xc1
				MX8MQ_IOMUXC_ECSPI2_SS0_UART4_DCE_RTS_B     0xc1
			>;
		};

		pinctrl_uart4_buf_en: uart4bufengrp {
			fsl,pins = <
				MX8MQ_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5        0xc1
			>;
		};

		/* SDIO */
		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK             0x83
				MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD             0xc3
				MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0         0xc3
				MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1         0xc3
				MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2         0xc3
				MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3         0xc3
				MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4         0xc3
				MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5         0xc3
				MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6         0xc3
				MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7         0xc3
				MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE       0x83
				MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B     0xc1
			>;
		};

		pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
			fsl,pins = <
				MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK             0x8d
				MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD             0xcd
				MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0         0xcd
				MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1         0xcd
				MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2         0xcd
				MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3         0xcd
				MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4         0xcd
				MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5         0xcd
				MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6         0xcd
				MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7         0xcd
				MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE       0x8d
				MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B     0xc1
			>;
		};

		pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
			fsl,pins = <
				MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK             0x9f
				MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD             0xdf
				MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0         0xdf
				MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1         0xdf
				MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2         0xdf
				MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3         0xdf
				MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4         0xdf
				MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5         0xdf
				MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6         0xdf
				MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7         0xdf
				MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE       0x9f
				MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B     0xc1
			>;
		};

		pinctrl_usdhc2_sd: usdhc2grpsd {
			fsl,pins = <
				MX8MQ_IOMUXC_SD2_CD_B_GPIO2_IO12            0x41
				MX8MQ_IOMUXC_SD2_RESET_B_GPIO2_IO19         0x41
			>;
		};

		pinctrl_usdhc2_fsel: usdhc2grpfsel {
			fsl,pins = <
				MX8MQ_IOMUXC_NAND_CE1_B_GPIO3_IO2           0xc1
			>;
		};

		pinctrl_usdhc2_vsel: usdhc2grpvsel {
			fsl,pins = <
				MX8MQ_IOMUXC_GPIO1_IO04_GPIO1_IO4           0xc1
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK             0x83
				MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD             0xc3
				MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0         0xc3
				MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1         0xc3
				MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2         0xc3
				MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3         0xc3
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
			fsl,pins = <
				MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK             0x8d
				MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD             0xcd
				MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0         0xcd
				MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1         0xcd
				MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2         0xcd
				MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3         0xcd
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
			fsl,pins = <
				MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK             0x9f
				MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD             0xdf
				MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0         0xdf
				MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1         0xdf
				MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2         0xdf
				MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3         0xdf
			>;
		};

		/* SAI */
		pinctrl_sai1: sai1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI1_MCLK_SAI1_MCLK            0xd6
				MX8MQ_IOMUXC_SAI1_TXFS_SAI1_TX_SYNC         0xd6
				MX8MQ_IOMUXC_SAI1_TXC_SAI1_TX_BCLK          0xd6
				MX8MQ_IOMUXC_SAI1_TXD0_SAI1_TX_DATA0        0xd6
			>;
		};

		pinctrl_sai2: sai2grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI2_MCLK_SAI2_MCLK            0xd6
				MX8MQ_IOMUXC_SAI2_RXC_SAI2_RX_BCLK          0xd6
				MX8MQ_IOMUXC_SAI2_RXD0_SAI2_RX_DATA0        0xd6
				MX8MQ_IOMUXC_SAI2_RXFS_SAI2_RX_SYNC         0xd6
			>;
		};

		/* watchdog */
		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX8MQ_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B        0xc6
			>;
		};

		/* PWM */
		pinctrl_pwm1: pwm1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_GPIO1_IO01_PWM1_OUT            0x06
			>;
		};

		/* Capacitive touch */
		pinctrl_captouch: captouchgrp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI1_RXD3_GPIO4_IO5            0x16
				MX8MQ_IOMUXC_GPIO1_IO14_GPIO1_IO14          0x16
			>;
		};

		/* GPIO Keys */
		pinctrl_gpio_keys: keygrp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI5_RXD2_GPIO3_IO23           0x86
				MX8MQ_IOMUXC_SAI5_RXC_GPIO3_IO20            0x86
				MX8MQ_IOMUXC_SAI5_RXD1_GPIO3_IO22           0x86
				MX8MQ_IOMUXC_SAI5_RXD3_GPIO3_IO24           0x86
				MX8MQ_IOMUXC_SAI5_MCLK_GPIO3_IO25           0x86
			>;
		};

		/* LEDs */
		pinctrl_leds: ledgrp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI1_RXD1_GPIO4_IO3            0xc6
				MX8MQ_IOMUXC_SAI1_TXD2_GPIO4_IO14           0xc6
				MX8MQ_IOMUXC_SAI1_RXD2_GPIO4_IO4            0xc6
				MX8MQ_IOMUXC_SAI1_TXD5_GPIO4_IO17           0xc6
			>;
		};

		/* WIFI */
		pinctrl_wifi: wifigrp {
			fsl,pins = <
				MX8MQ_IOMUXC_GPIO1_IO04_GPIO1_IO4           0xc1 /* USDHC2_VSEL */
				MX8MQ_IOMUXC_GPIO1_IO08_GPIO1_IO8           0xc1 /* WIFI_PWR_ON   */
				MX8MQ_IOMUXC_NAND_CE1_B_GPIO3_IO2           0xc1 /* USDHC2_FSEL   */
				MX8MQ_IOMUXC_GPIO1_IO00_ANAMIX_REF_CLK_32K  0xc1 /* WIFI_CLK_32K  */
			>;
		};

		/* Bluetooth */
		pinctrl_bluetooth: bluetoothgrp {
			fsl,pins = <
				MX8MQ_IOMUXC_NAND_CE3_B_GPIO3_IO4           0xc1    /* BT_EN         */
				MX8MQ_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5        0xc1    /* BT_BUF_EN     */
			>;
		};

		/* SPI */
		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX8MQ_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK        0x11
				MX8MQ_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI        0x11
				MX8MQ_IOMUXC_ECSPI1_MISO_ECSPI1_MISO        0x11
				MX8MQ_IOMUXC_ECSPI1_SS0_GPIO5_IO9           0x11
			>;
		};

		/* LVDS */
		pinctrl_lvds: lvdsgrp {
			fsl,pins = <
				MX8MQ_IOMUXC_GPIO1_IO11_GPIO1_IO11          0x16
			>;
		};

		/* DAC */
		pinctrl_pcm1789: pcm1789grp {
			fsl,pins = <
				MX8MQ_IOMUXC_SAI5_RXD0_GPIO3_IO21           0x86
			>;
		};

		/* DAB/FM Radio */
		pinctrl_si4688: si4688grp {
			fsl,pins = <
				MX8MQ_IOMUXC_NAND_WP_B_GPIO3_IO18           0x86
				MX8MQ_IOMUXC_NAND_ALE_GPIO3_IO0             0xc6
			>;
		};
	};
};

/* I2C */

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			sw3a_reg: sw3ab {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
				regulator-always-on;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};
		};
	};

	dsi_lvds_bridge: sn65dsi84@2c {
		compatible = "ti,sn65dsi83";
		reg = <0x2c>;
		ti,dsi-lanes = <4>;
		ti,lvds-format = <2>;
		ti,lvds-bpp = <24>;
		ti,width-mm = <154>;
		ti,height-mm = <90>;
		enable-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lvds>;
		status = "disabled";
		/* enable-test-pattern; */

		panel-gpios = <&gpio3 16 GPIO_ACTIVE_LOW>;
		backlight = <&backlight>;

		display-timings {
			lvds {
				clock-frequency = <50000000>;
				hactive = <1024>;
				vactive = <600>;

				hback-porch = <220>;
				hfront-porch = <50>;
				hsync-len = <50>;

				vback-porch = <26>;
				vfront-porch = <3>;
				vsync-len = <6>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};

		port {
			sn65dsi84_in: endpoint {
				remote-endpoint = <&mipi_dsi_bridge_out>;
			};
		};
	};

	reg_cpu_dvfs: tps62361@60 {
		reg = <0x60>;
		compatible = "ti,tps62361";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <1000000>;
		regulator-name = "arm-supply";
		regulator-boot-on;
		regulator-always-on;
		ti,enable-force-pwm;
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	/* Capacitive touch screen */
	gt911: gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_captouch>;
		reset-gpios = <&gpio4 5 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&gpio1>;
		interrupts = <14 0>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
		skip-config-loading;
		status = "disabled";
	};
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	rtc@6f {
		compatible = "microchip,mcp7941x";
		reg = <0x6f>;
		status = "okay";
	};

	mma8653fc@1d {
		compatible = "fsl,mma8653";
		reg = <0x1d>;
		status = "okay";
	};

	pcm1789: pcm1789@4c {
		#sound-dai-cells = <0>;

		compatible = "ti,pcm1789";
		reg = <0x4c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pcm1789>;
		reset-gpios = <&gpio3 21 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	tas5825m: tas5825m@4c {
		compatible = "ti,tas5825m";
		reg = <0x4c>;
		clocks = <&clk IMX8MQ_CLK_SAI1_ROOT>;
		clock-names = "mclk";
		dvdd-supply = <&reg_tas5825m_dvdd>;
		pvdd-supply = <&reg_tas5825m_pvdd>;
		#sound-dai-cells = <0>;
		status = "okay";
	};
};

/* UART */

&uart1 {
	/* Console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART1>;
	assigned-clock-parents = <&clk IMX8MQ_CLK_25M>;
	status = "okay";
};

&uart2 {
	/* uC */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART2>;
	assigned-clock-parents = <&clk IMX8MQ_CLK_25M>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART3>;
	assigned-clock-parents = <&clk IMX8MQ_CLK_25M>;
	status = "disabled";
};

&uart4 {
	/* Bluetooth */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART4>;
	assigned-clock-parents = <&clk IMX8MQ_SYS1_PLL_80M>;
	fsl,uart-has-rtscts;
	status = "disabled";
};

/* eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

/* USB */
&usb3_phy0 {
	status = "okay";
};

&usb3_0 {
	status = "okay";
};

&usb_dwc3_0 {
	status = "okay";
	dr_mode = "host";

	/* USB2 only */
	phys = <&usb3_phy0 0>;
	phy-names = "usb2-phy";
};

&usb3_phy1 {
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_1 {
	status = "okay";
	dr_mode = "host";

	/* USB2 only */
	phys = <&usb3_phy1 0>;
	phy-names = "usb2-phy";
};

/* SAI */
&sai1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	assigned-clocks = <&clk IMX8MQ_CLK_SAI1>;
	assigned-clock-parents = <&clk IMX8MQ_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	#sound-dai-cells = <0>;
	status = "okay";
};

&sai2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MQ_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MQ_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	#sound-dai-cells = <0>;
	status = "okay";
};

/* GPU/VPU */
&gpu_pd {
	power-supply = <&sw1a_reg>;
};

&vpu_pd {
	power-supply = <&sw1c_reg>;
};

&gpu {
	status = "okay";
};

&vpu {
	status = "okay";
};

/* Watchdog */
&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

/* m4 */
&mu {
	status = "okay";
};

/* A53 */
&A53_0 {
	operating-points = <
		/* kHz    uV */
		1500000 1000000
		1300000 1000000
		1000000 900000
		800000  900000
	>;
	dc-supply = <&reg_cpu_dvfs>;
};

&mipi_dsi_bridge {
	status = "disabled";

	port@1 {
		mipi_dsi_bridge_out: endpoint {
			remote-endpoint = <&sn65dsi84_in>;
		};
	};
};

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	cs-gpios = <&gpio5 9 0>;
	fsl,spi-num-chipselects = <1>;
	status = "okay";

	si4688@0 {
		compatible = "silabs,si468x-radio";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_si4688>;
		spi-max-frequency = <10000000>;
		status = "okay";
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
};

&snvs_rtc {
	status = "disabled";
};
